
*{color: white;}
html{font-size: 16px;}
:root{
    --Milk1DM: rgb(57, 59, 51);
    --cornBlueDM:  rgb(100, 149, 237);
}
body{
    margin: 0% 2%;     width: 100vw;  
    position: relative; top:0px ;  left: 0px;
    background: linear-gradient(0deg, rgb(50, 50, 50), rgb(30, 30, 30), rgb(6, 6, 6))
}
.time-now, .date-now {
  font-size: 0.75rem;    cursor: pointer;
  color: white;
}
.top-icon>button{
    border: none;
    background-color: rgb(6, 6, 6);
    transform: scale(1.5);
}
.top-icon {
    display: flex;  flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100vw;       height: 5rem;
}
#DarkMode{display: none;}
#LightMode{display: inline-block;}

div.PCcentre{
    min-height: 100vh;  width: 100vw;
    display: flex;  flex-flow: column nowrap;
    justify-content: flex-start;    align-items: center;  
} 
main{
    padding: 0.95rem;
    width: 90vw;    height: auto;
    display: flex;  flex-flow: column nowrap;
    justify-content: center;    align-items: center;  
}
header.topmost{
    font-size: 3.5rem; font-family: monospace, sans-serif; font-weight: 700;
    text-align: center;
    margin:1rem auto 1.62rem;
}
p.intro{
    padding: 0.8rem;
    background-color: var(--Milk1DM);
    border: 1px solid  var(--Milk1DM) ;
    border-radius: 0.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#add-job{
    border: 1px solid rgb(70, 70, 70);    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    position: absolute;
    bottom: -2rem;       left: 47%;
    width: 2.2rem; height:2.2rem;
    display: flex;  flex-flow: column nowrap;
    justify-content: center;    align-items: center; 
    cursor: pointer;
}
#add-job>p{
    font-size: 2.2rem;  color: var(--cornBlueDM);  font-weight: 900;
    text-align: center;     margin-top: .8rem;
    z-index: 2;
}
#close-job{
    font-size: 2.2rem;  color: var(--cornBlueDM);  font-weight: 900;
    text-align: center;     
    position: absolute;
    top: 3px;   right: 4px;
}

#to-do-tasks{
    height: auto;  width: 100%;
    display: flex;  flex-flow: column nowrap;
    justify-content: flex-start;    align-items: center;  
} 
.overlay {
    position: absolute;    top: 0;  left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.95);
    z-index: 3;
    display: flex;  flex-flow: column nowrap;
    justify-content: center;    align-items: center;  
    transition: all .6s; 
}
.overlie-form{
    padding: 2.5rem;
    height: auto;
    width: 80%;
    background-color: rgb(50, 50, 50);
    z-index: 4;   
    box-shadow: 4px 4px 2px rgb(55, 55, 55);
}

.text{
    font-size: 1.3rem;
}
.list{
    width: 80%;     height: auto;
    background-color: var(--Milk1DM);
    border-radius: 1rem;
    margin: .6rem 0;
    display: flex;
    flex-flow: column nowrap;       gap:1.5rem;
    position: relative;
    padding: 0 20px;
    align-items: flex-start;      
    color: #fff;
}
.list:hover{ 
    padding: 10px 25px;
    transition: 0.2s linear;
}
i.fa-trash{
    position: absolute;
    right: 1rem;     top: 1rem;
}

.hidden{display: none;}
.rel-postn{position: relative;}

@media screen and (min-width:625px){
    div.PCcentre{
        height: auto; 
        display: flex;  flex-flow: column nowrap;
        justify-content: center;    align-items: center;  
    } 
    main{
        padding: 0.95rem;
        width: 70vw;    height: auto;
        display: flex;  flex-flow: column nowrap;
        justify-content: center;    align-items: center;  
        border: 0.41px solid rgb(255, 255, 255);
        border-radius: 1rem;
    }
    
}
